html {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

body {
    margin: 20px;
}

.parent {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr auto;
}

.header {
    grid-column: 1 / span 3;
}

.left {
    grid-row: 2;
}

.main {
    grid-column: 2 / span 2;
}

.footer {
    grid-row: 3;
    grid-column: 1 / span 3;
}

.header h1 {
    font-size: 36px;
    font-weight: 800;
}

.stock-grid {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    gap: 20px;
    padding: 20px;
}

.interests-grid {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    grid-template-columns: auto auto auto ;
    gap: 20px;
    padding: 20px;
}

.grid-header {
    grid-row: 1 / span 3;
}

.stock > * {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

#interests, #home, #submit{
    background: black;
    border: none;
    color: white;;
    font-size: 20px;
}

input[type="submit"]#submit:hover {
    color: pink;
  }