<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Raleway:400,800">
    <link rel="stylesheet" href="{{ url_for('static',filename='stylesheets/style.css') }}">
    <link href="{{ url_for('static',filename='img/favicon.ico') }}" rel="shortcut icon"/>
</head>
<body>
    <h1>Welcome to FreshStocks!</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.cash.label }} <br>
            {{ form.cash(size=10) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>